<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.em9310li.dad_pushdocument">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".User_registration"></activity>
        <activity android:name=".User_edit"></activity>
        <activity android:name="activities.User_activities"></activity>
        <activity android:name="activities.Thread_activities"></activity>
        <activity android:name="Thread_Make"></activity>
    </application>

</manifest>